# Pastas temporárias e caches da Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Arquivos gerados pelo Visual Studio / editores de código
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.opendb
/*.VC.db

# Arquivos do sistema operacional
.DS_Store
Thumbs.db